---
kind: ClusterConfiguration
{% if kube_version is version_compare('1.22.0', '<') %}
apiVersion: kubeadm.k8s.io/v1beta2
{% else %}
apiVersion: kubeadm.k8s.io/v1beta3
{% endif %}
networking:
  podSubnet: "{{kube_pod_network_cidr}}"            # --pod-network-cidr
apiServer:
  extraArgs:
    advertise-address: "{{kube_api_server}}"        # --apiserver-advertise-address
{% if IM_NODE_PUBLIC_IP is defined %}
  certSANs:
  - "{{ IM_NODE_PUBLIC_IP }}"
{% if kube_api_server != "0.0.0.0" %}
  - "{{ kube_api_server }}"
{% endif %}
{% if kube_public_dns_name != "" %}
  - "{{ kube_public_dns_name }}"
{% endif %}
{% if IM_NODE_PRIVATE_IP is defined %}
  - "{{ IM_NODE_PRIVATE_IP }}"
{% endif %}
{% endif %}
{% if kube_api_server != "0.0.0.0" %}
controlPlaneEndpoint: "{{kube_api_server}}:6443"
{% endif %}
---
kind: InitConfiguration
{% if kube_version is version_compare('1.22.0', '<') %}
apiVersion: kubeadm.k8s.io/v1beta2
{% else %}
apiVersion: kubeadm.k8s.io/v1beta3
{% endif %}
bootstrapTokens:
- token: "{{kube_token}}"                          # --token
  description: "kubeadm bootstrap token"
  ttl: "{{kube_token_ttl}}"                         # --token-ttl
{% if kube_cri_runtime == "docker" %}
nodeRegistration:
  criSocket: "unix:///run/cri-dockerd.sock"
{% endif %}
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd
{% if kubelet_anonymous_access | default(false) | bool %}
authentication:
  anonymous:
    enabled: true
authorization:
  mode: AlwaysAllow
{% else %}
# Bind & ports
readOnlyPort: 0
# AuthN / AuthZ
authentication:
  anonymous:
    enabled: false
  x509:
    clientCAFile: /etc/kubernetes/pki/ca.crt
  webhook:
    enabled: true
authorization:
  mode: Webhook
{% endif %}